.carousel-control.right,
.carousel-control.left {
    /* background: white; */
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.0001) 100%);
}

.view-site-btn {
    background: none;
    padding: 15px 20px;
    transition: 0.3s ease-in-out;
    box-shadow: 10px 10px 20px lightgrey;
    border-radius: 0px;
    display: block;
    margin: auto; 
}

.carousel-indicators {
    bottom: -50px;
}