.thumbnail > img {
    margin-top: 35px;
    border: 3px solid #888888;
}

.project-card {
    transition: 0.2s ease-in-out;
    box-shadow: 10px 10px 10px black;
    text-decoration: none;
    border: none;
    /* border: 0.5px solid lightgrey; */
    background: #1a1a1a;
}

.project-card:hover {
    cursor: pointer;
    transform: scale(1.04, 1.04);
    box-shadow: 5px 5px 30px #888888;
    text-decoration: none;
    border: none;
    /* border: 0.5px solid lightgrey; */
    background: #000000;
}

.textWrapper {
    color: #888888;
    transition: 0.2s ease-in-out;
    padding: 20px;
}

.textWrapper:hover {
    color: lightgrey;
}

.thumbnail .caption {
    padding: 0
}