form {
    text-align: center;
    padding: 20px;
}

.email {
    color: lightskyblue;
    font-size: 20px;
    text-decoration: none
}

a.email:hover {
    color: lightskyblue;
}

.contact-input,
.contact-textarea {
    width: 50%;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    color: black;
}

.sendButton {
    text-shadow: none;
    background: none;
    padding: 15px 20px;
    margin-top: 30px;
    transition: 0.1s ease-in-out;
    box-shadow: 5px 5px 10px black;
    border-radius: 3px;
    background: lightskyblue;
    color: black;
    border: none;
}

.sendButton:hover {
    text-shadow: none;
    background: skyblue;
    color: white;
    transform: scale(1.03, 1.03);
    box-shadow: 5px 5px 30px lightgrey;
    border: none;
}

.contact-intro {
    font-family: 'Cormorant Garamond';
    font-size: 16px;
    letter-spacing: 1.1px;
    margin: "10px 0";
    text-align: center;
}

.contact-wrapper {
    background: #1a1a1a;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 50px 0px;
    margin-top: 30px;
}