.button {
    text-shadow: none;
    background: none;
    padding: 15px 20px;
    transition: 0.2s ease-in-out;
    box-shadow: 5px 5px 10px black;
    border-radius: 3px;
    background: lightskyblue;
    color: black;
    border: none;
}

.button:hover {
    text-shadow: none;
    background: skyblue;
    color: #fff;
    transform: scale(1.03, 1.03);
    box-shadow: 5px 5px 30px lightgrey;
    border: none;
}